@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import '../../styles/variables';

// Базовые переменные
$bg-color: #09090B;
$text-color: #FFFFFF;
$link-color: #A1ACFF;
$primary-font: 'Inter', sans-serif;

.mode-selection-page {
  min-height: 100vh;
  background-color: $bg-color;
  color: $text-color;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  background-image: url('src/assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  // Основной контент
  .main-content-modes {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
  }

  .modes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1020px;
  }

  .mode-card {
    flex: 1;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    gap: 15px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

    &__title {
      font-size: 24px;
      margin-bottom: 10px;
    }

    &__description {
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.6;
      min-height: 76.75px;
    }

    &__image {
      border-radius: 8px;
      background-size: cover;
      background-position: center;

      img {
          width: 300px;
      }
    }

    &__button {
      padding: 12px 24px;
      text-decoration: none;
      background-color: #615CF8;
      color: #FFFFFF;
      border-radius: 6px;
      border: none;
      font-family: $primary-font;
      font-weight: 500;
      cursor: pointer;
      font-size: 16px;
      width: 264px;
      text-align: center;

      &:hover {
        background-color: #4631D1;
      }
    }
  }
}

// Адаптив для планшетов
@media (max-width: 1024px) {
  .mode-selection-page {
    .modes-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 0 20px;
      max-width: 600px;
    }

    .mode-card {
      min-width: 400px;
      &__image img {
        width: 100%;
        max-width: 100%;
      }

      &__button {
        width: 400px;
      }
    }

    .main-content-modes {
      padding: 30px 20px;
    }
  }
}

// Адаптив для мобильных
@media (max-width: 600px) {
  .mode-selection-page {
    .main-title {
      font-size: 22px;
      margin-bottom: 30px;
    }

    .mode-card {
      min-width: 300px;
      padding: 20px;

      &__image img {
        width: 200px;
      }

      &__title {
        font-size: 20px;
      }

      &__description {
        font-size: 14px;
      }

      &__button {
        font-size: 16px;
        padding: 10px 16px;
        width: 300px;
      }
    }
  }
}
