@use '../../styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$bg-color: #09090B;
$text-color: #FFFFFF;
$link-color: #A1ACFF;
$primary-font: 'Inter', sans-serif;

.profile-page {
  min-height: 100vh;
  color: $text-color;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    text-align: center;

    &__link {
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .profile-main {
    display: flex;
    flex: 1;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
      margin-top: 5px;
      color:#A1ACFF;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .profile-avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 20px;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .profile-login {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: $text-color;
  }

  .profile-section {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;

    &__title {
      font-size: 20px;
      margin: 0 0 20px 0;
      color: $link-color;
    }
  }

  .profile-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-radius: 12px;
      text-decoration: none;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      }

      
    }

    &__title {
      font-size: 18px;
      margin: 0;
      color: $text-color;
    }

    &__icon {
      color: $link-color;
      font-size: 20px;
    }

  }

}


@media (max-width: 600px) {
  .profile-page {
    .profile-main {
      padding: 20px;

      .profile-header {
        .profile-avatar {
          width: 80px;
          height: 80px;
        }
  
        .profile-login {
          font-size: 20px;
        }

        &__link {
          font-size: 14px;
        }
      }

      .profile-section {
        padding: 20px;
        margin: 20px;

        &__title {
          font-size: 16px;
          font-weight: 500;
        }

        .profile-info {
          font-size: 14px;
        }
      }
        &:hover {
          transform: none;
          box-shadow: none;
        }


    
      .profile-nav__link {
        padding: 15px;

        .profile-nav__title {
          font-weight: 500;
          font-size: 16px;
        }

        &:hover {
          transform: none;
          box-shadow: none;
        }
        
      }
    }
  
    
  }
  
}