$button-color: #615CF8;
$accent-color: #615CF8;
$button-hover-color: #4631D1;
$secondary-button-hover: #C4CDFF;
$primary-font: 'Inter', sans-serif;
$text-color: #FFFFFF;
$button-like: #3FA860;
$button-dislike: #EF4444;
$additional-text-color: #A1ACFF;
$link-color: #A1ACFF;
$modal-color: #121214;
$red-button: #EF4444;
$red-button-hover: #B91C1C;
$green-button: #3FA860;